@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Syne', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

link[rel="icon"]{
  width: 16px;
  height: 16px;
}
